@use "variables" as v;
@mixin container() {
  max-width: v.$app-max;
  margin: 0 auto;
  padding: 0 16px;
}
@mixin card() {
  border: 1px solid v.$border;
  border-radius: 12px;
  background: #fff;
}
